<!DOCTYPE html>
<html lang="du">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Dustin Joosen">
		<meta name="description" content="Documentation for my Rooster API">
		<title>RoosterAPI Documentatie</title>
		<style>
			body{
				font-family: 'Arial';
			}

			a{
				color: blue;
			}

			ul{
				list-style-type: none;
			}

			#intro{
				padding-left: 80px;
			}

			.divider{
				width:70%;
				margin-left: auto;
				margin-right: auto;
				margin-top: 40px;
				margin-bottom:40px;
				background-color: black;
				height: 2px;
			}

			.info_box{
				padding: 10px;
				padding-left: 80px;
				margin-left: 40px;
				margin-right:40px;
				margin-bottom: 10px;
				border-radius: 10px;
				border:1px dashed rgb(0, 0, 0);
				overflow-x: auto;
				background-color: rgb(250, 250, 250);
			}

			#json_example{
				background-color: rgb(240, 240, 240);
				width:30%;
				border-radius: 10px;
				padding-top:10px;
				padding-bottom: 10px;
			}

			.example_url{
				width: 50%;
				padding:10px;
				margin: 10px;
				background-color: rgb(240, 240, 240);
			}

			.example_url_link{
				font-family:"Trebuchet MS";
			}
		</style>
	</head>
	<body>
		<main>
			<div id="intro">
				<h1>RoosterAPI Documentatie</h1>
				<p>RoosterAPI is een A.P.I. (application programming interface) voor het rooster van het horizon college.<br/>
				Deze A.P.I. kan worden gebruikt om een GET request te sturen.<br/>
				De A.P.I geeft dan een lijst met allemaal 'les' objecten terug. Daarin staat de informatie van de specifieke les.
				</p>
				<p>De A.P.I. wordt gehost met heroku, op de volgende url: <a target="_blank" href="https://horizon-rooster.herokuapp.com/api/rooster/">https://horizon-rooster.herokuapp.com/api/rooster/</a></p>
			</div>

			<div class="divider"></div>

			<div id="output_box" class="info_box">
				<h2 class="info_box_header">Output</h2>
				<p>De output van de A.P.I. is een lijst met JSON objecten.<br/>
				Deze objecten hebben allemaal dezelfde opbouw, maar andere informatie. Hieronder is een voorbeeld</p>

				<code>
					<pre id="json_example">
	{
		"vak": "ENG",
		"docent": "WEELD0",
		"plaats": "online",
		"wanneer": {
			"dag": "Dinsdag 13-04",
			"tijd": {
				"start": "09:20",
				"eind": "10:10"
			}
		}
	}
					</pre>
				</code>
				<sup>*Het 'plaats' veld kan ook het lokaalnummer bevatten.</sup>
			</div>

			<div class="divider"></div>

			<div id="input_box" class="info_box">
				<h2 class="info_box_header">Input</h2>
				<p>De volgende URL wordt aangenomen:</p>
				<ul>
					<li class="example_url">
						<a target="_blank" class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster">https://horizon-rooster.herokuapp.com.api/rooster</a></li>
					</li>
				</ul>

				<p>Echter zijn er meer opties. Via URL queries kan er meer worden gespecificeerd. Deze queries kunnen worden verdeelt in 2 Soorten: Filters en Url kiezers. <br/>
				De filters kunnen worden gebruikt om bijvoorbeel een specifiek vak te kiezen, de Url kiezers worden gebruikt om te bepalen uit welk rooster de lessen worden gehaald</p>
				<p>De url queries kunnen natuurlijk ook worden gecombineerd, bijvoorbeeld ?week_nummer=16&vak=PORTF</p>

				<div>
					<h3>Filters</h3>
					<p>De filters veranderen niet wat voor data wordt opgehaald, alleen welke data wordt teruggegeven. <p/>

					<ul>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?vak=PORTF">?vak=PORTF</a>
							<p>Filtert het vak. Alleen de lessen van dit vak worden laten zien.</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?docent=KERCK0">?docent=KERCK0</a>
							<p>Filtert de docent. Alleen de lessen van deze docent worden laten zien.</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?plaats=C207">?plaats=C207</a>
							<p>Filtert de plaats/lokaal. Alleen de lessen op deze locatie worden laten zien.</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?dag_van_week=2">?dag_van_week=2</a>
							<p>Filtert de dag van de week. Alleen de lessen op deze dag worden laten zien. Dit is zero-based.(maandag=0, dinsdag=1 etc.)</p>
						</li>
					</ul>
				</div>
				<div>
					<h3>Url Kiezers</h3>
					<ul>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?sector=ECO">?sector=ECO</a>
							<p>Je kan specificeren uit welke sector het rooster wordt opgehaald. De standaard waarde is ECO.</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?gebouw=HRN">?gebouw=HRN</a>
							<p>e kan specificeren uit welk gebouw het rooster wordt opgehaald. De standaard waarde is HRN(hoorn).</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?klas=H19AO-A">?klas=H19AO-A</a>
							<p>Je kan specificeren uit welke klas het rooster wordt opgehaald. De standaard waarde is H19AO-A.<br/>
							Om te bepalen wat je hier moet invullen, kijk je op de <a href="https://rooster.horizoncollege.nl/rstr/ECO/HRN/Roosters/">originele site</a>, en vul je in wat er in het 'Element' vak staat.</p>
						</li>
						<li class="example_url">
							<a class="example_url_link" href="https://horizon-rooster.herokuapp.com/api/rooster?week_nummer=15">?week_nummer=15</a>
							<p>Ke kan specificeren van welke week het rooster wordt opgehaald. De standaard waarde is de huidige week.<br/>Dit kan niet oneindig ver terug of vooruit. Meestal kan er 1 week terug en 2 weken vooruit gegaan worden, maar dit staat niet vast.</p>
						</li>
					</ul>
				</div>
			</div>

			<div class="divider"></div>

			<div id="contact_box" class="info_box">
				<h2 class="info_box_header">Contact</h2>
				<p>Email: dustinjoosen2003@gmail.com<br/>
				Deze A.P.I. is gemaakt door Dustin Joosen</p>
			</div>

		</main>
	</body>
</html>